.content_img{
	width: 798px;
	height: 198px;
	margin: 50px 112px;
	border: 1px solid #ccc;
}
.sportmonitor{
	width: 900px;
	height: 500px;
	margin: 20px auto;
	background-color: #D8E9FB;
	background-image: url(../img/healthy4.png);
	background-size: 900px 500px; 
	padding-top: 50px;
	border-radius: 30px;
	text-align: center;
}
.sportmonitor_table{
	padding: 20px;
	width: 760px;
	height: 450px;
	margin: auto auto;
	background-color: #F6F6F6;
	border-radius: 30px;
}
.text{
	background-color: #999;
	border-radius: 15px;
}
.button{
	padding: 5px;
	text-align: center;
}